In [3]:
import string

# write file

In [9]:
with open('letters.txt','w') as f:
    for i in range (0,26):
        lower = string.ascii_lowercase[i]
        upper = string.ascii_uppercase[i]
        line = "{},{},{}\n".format(i,lower,upper)
        f.write(line)

# Read file

In [10]:
with open('letters.txt','r') as f:
    lines = f.readlines() # all in a list

In [25]:
print(lines)

['0,a,A\n', '1,b,B\n', '2,c,C\n', '3,d,D\n', '4,e,E\n', '5,f,F\n', '6,g,G\n', '7,h,H\n', '8,i,I\n', '9,j,J\n', '10,k,K\n', '11,l,L\n', '12,m,M\n', '13,n,N\n', '14,o,O\n', '15,p,P\n', '16,q,Q\n', '17,r,R\n', '18,s,S\n', '19,t,T\n', '20,u,U\n', '21,v,V\n', '22,w,W\n', '23,x,X\n', '24,y,Y\n', '25,z,Z\n']

In [26]:
for line in lines:
    print(line) # '\n' is at the end.

0,a,A

1,b,B

2,c,C

3,d,D

4,e,E

5,f,F

6,g,G

7,h,H

8,i,I

9,j,J

10,k,K

11,l,L

12,m,M

13,n,N

14,o,O

15,p,P

16,q,Q

17,r,R

18,s,S

19,t,T

20,u,U

21,v,V

22,w,W

23,x,X

24,y,Y

25,z,Z

In [24]:
for line in lines:
    print(line[:-1])

0,a,A
1,b,B
2,c,C
3,d,D
4,e,E
5,f,F
6,g,G
7,h,H
8,i,I
9,j,J
10,k,K
11,l,L
12,m,M
13,n,N
14,o,O
15,p,P
16,q,Q
17,r,R
18,s,S
19,t,T
20,u,U
21,v,V
22,w,W
23,x,X
24,y,Y
25,z,Z

# Write the text into a csv file

In [13]:
with open('letters.csv','w') as f:
    f.write('rank,lower,upper\n')
    for i in range (len(string.ascii_lowercase)):
        lower = string.ascii_lowercase[i]
        upper = string.ascii_uppercase[i]
        line = '{},{},{}\n'.format(i,lower,upper)
        f.write(line)

# Read the CSV file via pandas

In [6]:
import pandas as pd

In [14]:
df = pd.read_csv('letters.csv')

In [17]:
df['rank'] = df['rank'].map(lambda x: x + 100)

In [18]:
df

    rank lower upper
0    100     a     A
1    101     b     B
2    102     c     C
3    103     d     D
4    104     e     E
5    105     f     F
6    106     g     G
7    107     h     H
8    108     i     I
9    109     j     J
10   110     k     K
11   111     l     L
12   112     m     M
13   113     n     N
14   114     o     O
15   115     p     P
16   116     q     Q
17   117     r     R
18   118     s     S
19   119     t     T
20   120     u     U
21   121     v     V
22   122     w     W
23   123     x     X
24   124     y     Y
25   125     z     Z

In [21]:
# Save the DataFrame to a CSV file
df.to_csv('output.csv', index=False)  # Set index=False if you don't want to save row numbers as an extra column
# index = True there will be a , inside